@font-face {
    font-family: "icons";
    src: url("./icons.eot?11b6245fb231a911aa35574363862339#iefix") format("embedded-opentype"),
url("./icons.woff2?11b6245fb231a911aa35574363862339") format("woff2"),
url("./icons.woff?11b6245fb231a911aa35574363862339") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account-circle:before {
    content: "\f101";
}
.icon-account:before {
    content: "\f102";
}
.icon-check-circle:before {
    content: "\f103";
}
.icon-cog-outline:before {
    content: "\f104";
}
.icon-pencil-outline:before {
    content: "\f105";
}
.icon-playlist-plus:before {
    content: "\f106";
}
.icon-video:before {
    content: "\f107";
}
.icon-wifi-cancel:before {
    content: "\f108";
}
.icon-wifi-check:before {
    content: "\f109";
}
