@font-face {
    font-family: "icons";
    src: url("./icons.eot?7373fcc2525dbd7659d5b743fa71b86a#iefix") format("embedded-opentype"),
url("./icons.woff2?7373fcc2525dbd7659d5b743fa71b86a") format("woff2"),
url("./icons.woff?7373fcc2525dbd7659d5b743fa71b86a") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
    content: "\f101";
}
.icon-video:before {
    content: "\f102";
}
